<section class="max-w-2xl px-4 py-12 mx-auto xs:py-10 jobs" id='experience'>
     <h3
        class=" flex items-center justify-start whitespace-nowrap  mb-5 w-full text-3xl font-semibold text-[#ccd6f6] font-main after:block after:h-[1px] after:w-[300px] after:bg-[#303c55] after:relative after:inset-0 after:-top-1 after:ms-5  ">
        <span class='relative text-xl font-normal me-2 font-code text-main-pink bottom-1 '>02.</span>
        {{"Experience.Title" | translate}}
    </h3>

    <app-tabs-group>
        <ng-container *ngFor='let job of "Experience.Jobs" | translate; let i = index' class="text-gray-200">
            <app-tab [title]="job.Tab">
                <h4 class="font-bold font-code " >{{job.Title}} | <span class="company-tab-content">{{job.Tab}}</span></h4>
                <h5 class="mb-4">{{job.Date}}</h5>
                 <p *ngFor='let jobDescriptionParagraph of job.Description; let i = index' class="relative
                 mb-2 ps-5 text-xs font-code text-gray-400 
                 before:content-['_▹'] before:absolute before:left-0 before:text-main-pink before:text-sm"
                    [innerHTML]="jobDescriptionParagraph | translate"></p>
            </app-tab>
        </ng-container>
    </app-tabs-group>

</section>