<section  [@bannerTrigger]  class="mt-36 h-[100vh]  max-w-screen-xl p-4 mx-auto">
      <div class="">
        <h1 class="mb-5 text-base font-normal text-main-pink ms-1 code-font" translate>{{ "Banner.Pretitle" }}</h1>
        <div class="">
          <h2 translate class="text-[#272a32] dark:text-[#ccd6f6] font-semibold text-7xl m-0 main-font">{{ "Banner.name" }}</h2>
          <h3 translate class=" text-[#444650] dark:text-[#8892b0] font-semibold text-7xl m-0 main-font" >{{ "Banner.job" }}</h3>
        </div>
        <div class="mb-[70px]">
            <p [innerHTML]='"Banner.Description" | translate' class="max-w-lg mt-4 text-black dark:text-white"></p>
        </div>
      </div>
      <div>
        <a
          href="mailto:yasmin.kasem144@gmail.com"
          target="_black"
          class="py-3 text-xs leading-none no-underline transition-all ease-in bg-transparent border rounded cursor-pointer text-main-pink border-main-pink code-font duration-250 px-7 hover:bg-opacity-10 focus:bg-opacity-10 active:bg-opacity-10 focus:outline-none "
          translate
        >
          {{ "Banner.ActionBtn" }}
        </a>
      </div>
 </section>

 
