<section class="px-8 py-12 mx-auto xs:py-10" id="project">

    <h3
        class="flex items-center justify-start whitespace-nowrap mb-5 w-full text-3xl font-semibold text-[#ccd6f6] font-main after:block after:h-[1px] after:w-[300px] after:bg-[#303c55] after:relative after:inset-0 after:-top-1 after:ms-5">
        <span class="relative text-xl font-normal me-2 font-code text-main-pink bottom-1">03.</span>
        {{ "FeatureProjects.Title" | translate }}
    </h3>

    <div *ngFor="
      let project of 'FeatureProjects.Projects' | translate;
      let i = index
    " class="flex mx-0   gap-4">

        <owl-carousel-o class="owl-carousel-o" [options]="customOptions"
            [ngClass]="{'order-1':i%2==0, 'order-2':i%2!=0,}">
            <ng-container *ngFor="let img of project.imgs">
                <ng-template carouselSlide [id]="project.Title + img + i">
                    <div #imgContainer class="max-h-80 w-[600px] overflow-auto rounded">
                        <img class="block w-full   rounded" [src]="img" [alt]="project.Title" />
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>


        <div [ngClass]="{'lg:-ms-14 -ms-0 order-2':i%2===0, 'lg:-me-14 -me-0 order-1':i%2!==0,}" class="lg:w-1/2 w-full  mt-16">
            <div class="">
                <h5 [class.text-end]="i % 2 == 0" [class.text-start]="i % 2 != 0" class="text-3xl my-4 text-[#a8b2d1]">
                    {{ project.Title }}
                </h5>

                <div
                    class="shadow-lg transition-all relative z-20 text-black dark:text-[#a8b2d1] p-6 bg-slate-50 dark:bg-[#112240] text-lg rounded">
                    <p class="mb-0" [innerHTML]="project.Description"></p>
                </div>
                <ul [class.justify-end]="i % 2 == 0" [class.justify-start]="i % 2 != 0"
                    class="relative z-10 flex flex-wrap p-0 mt-6 mb-3 me-0">
                    <li *ngFor="let technology of project.Technologies"
                        class="text-sm ms-4 text-main-pink whitespace-nowrap">
                        <span class="pb-4 underline">{{ technology }}</span>
                    </li>
                </ul>
                <div [class.justify-end]="i % 2 == 0" [class.justify-start]="i % 2 != 0"
                    class="mt-3 flex justify-content-start gap-3">
                    <a *ngIf="project['ghLink']" style="color: inherit" [href]="project['ghLink']" target="_blank">
                        <img src="../../../assets/images/github.svg" alt="">
                    </a>
                    <a *ngIf="project['demoLink']" style="color: inherit" [href]="project['demoLink']" target="_blank">
                        <img src="../../../assets/images/externalLink.svg" alt="">
                    </a>

                </div>
            </div>
        </div>


    </div>

</section>