/* You can add global styles to this file, and also import other style files */

 


.owl-carousel-o {
    width: 600px !important;
    max-height: 320px;
}

.owl-carousel-o2 {
    width: 600px !important;
    max-height: 320px;
}

.img-feature-proyect-container {
    display: none;
}

@media (min-width: 768px) and (max-width: 1300px) {
    .owl-carousel-o {
        display: none;
    }
}


@media (max-width: 768px) {
    .owl-carousel-o {
        display: none;
    }
}

::ng-deep .owl-theme .owl-dots .owl-dot.active span,
::ng-deep .owl-theme .owl-dots .owl-dot:hover span {
    background-color: white !important;
}

::ng-deep .owl-theme .owl-dots .owl-dot span {
    background: #ffffff33;
}


.owl-carousel .owl-stage-outer {
    transform: translate3d(0, 0, 0)
}

/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #8892b0;
    border-radius: 3px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #64ffda;
    border-radius: 3px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #64ffda;
}