/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
.light-theme {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Dark Mode */
  .dark-theme {
    background-color: #0a192f;
    color: #ffffff;
  }
  