/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
.light-theme {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Dark Mode */
  .dark-theme {
    background-color: #0a192f;
    color: #ff64ff;
  }
  
.underline {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 3px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #ff64ff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0%;
}
.underline:hover:after {
  width: 100%;
  left: 0;
}