<footer class="text-[#ccd6f6]  max-w-screen-xl p-4 mx-auto  ">
    <!-- left -->
    <ul class="fixed bottom-0 left-4 p-0  after:block after:w-[1px] font-semibold after:h-32  after:mx-auto
       dark:after:bg-[#ccd6f6] after:bg-main-navy none md:block list-none">
        <li>
            <a href="https://github.com/yasminkasem66" target='_blank'>
                <img src="../../../assets/images/github.svg" alt="">
            </a>
        </li>
        <li class="my-4 ">
            <a href="https://www.linkedin.com/in/yasmin-kasem/" target='_blank'>
                <img src="../../../assets/images/linkedin.svg" alt="">
            </a>
        </li>
    </ul>

    <!-- middle -->
    <div class="relative bottom-0 right-0 w-full m-auto mb-3 text-xs font-bold leading-4 text-center font-code">
        <a href="https://github.com/yasminkasem66/Yasmin-sPortfolio.git " target="_blank"
            rel="nofollow noopener noreferrer"
            class="dark:text-[#ccd6f6] text-main-navy transition hover:no-underline focus:no-underline focus:text-main-pink hover:text-main-pink">
            <div>Built with love by yasmin-kasem</div>
        </a>
        <a href="https://github.com/bchiang7/v4" target="_blank" rel="nofollow noopener noreferrer"
            class="dark:text-[#ccd6f6] text-main-navy transition hover:no-underline focus:no-underline focus:text-main-pink hover:text-main-pink">
            <div class="mt-2">Designed by Brittany Chiang</div>
        </a>
    </div>

    <!-- right -->
    <div class="fixed bottom-0  right-4 p-0   before:block before:w-[1px] font-semibold before:h-[90px] before:mx-auto
    dark:before:bg-[#ccd6f6] before:bg-main-navy d-none md:block">
        <a href="mailto:yasmin.abdellh@gmail.com" target='_blank'
            class="font-code text-xs tracking-widest [writing-mode:vertical-lr] my-4 mx-auto p-[10px] dark:text-[#ccd6f6] text-main-navy  ">yasmin.abdellh@gmail.com
        </a>
    </div>

</footer>