<section class="flex flex-col items-center justify-center py-10  text-black dark:text-white" id='contact'>
                <h3 class="flex items-center justify-center w-full mb-5 text-xl font-normal whitespace-nowrap text-main-pink ms-1 font-code">
                    <span class='relative text-xl font-normal me-2 font-code text-main-pink bottom-1 '>05.</span> {{"Contact.Pretitle" | translate}}
                </h3>
                <h4 class=" font-main
                font-semibold text-6xl text-[#ccd6f6] mb-4
                
                ">
                    {{"Contact.Title" | translate}}
                </h4>
            <p class="max-w-2xl text-center text-[#ccd6f6] mb-4">
                {{"Contact.Content" | translate}}
            </p>
            <div class="mt-5">
                <a href="mailto:yasmin.abdellh@gmail.com" target="_blank"  class="py-3 text-xs leading-none no-underline transition-all ease-in bg-transparent border rounded cursor-pointer text-main-pink border-main-pink font-code duration-250 px-7 hover:bg-opacity-10 focus:bg-opacity-10 active:bg-opacity-10 focus:outline-none ">
                    {{"Contact.Btn" | translate}}
                </a>
            </div>
</section>